<section class="inbox uk-margin-top">
  <div class="cont-form uk-container">
    <h1>Bandeja de entrada</h1>

    <form
      class="form uk-margin-top uk-margin-bottom"
      [formGroup]="filterForm"
      (ngSubmit)="onSubmit()"
    >
      <fieldset class="uk-fieldset uk-margin-bottom">
        <div class="uk-margin-top">
          <input
            class="uk-input"
            [ngClass]="{
              'is-invalid':
                filterForm.get(['data']).errors &&
                !filterForm.get(['data']).untouched
            }"
            formControlName="data"
            type="text"
            placeholder="Realiza una busqueda por asunto."
          />
          <div *ngIf="filterForm.get(['data']).errors">
            <div
              class="uk-text-danger"
              *ngIf="
                filterForm.get(['data']).errors.required &&
                !filterForm.get(['data']).untouched
              "
            >
              Campo requerido.
            </div>
          </div>
        </div>
      </fieldset>
      <button
        class="uk-button uk-button-primary uk-margin-right"
        [disabled]="filterForm.invalid"
      >
        Buscar
      </button>
      <button
        class="uk-button uk-button-primary uk-margin-left"
        (click)="resetFilter()"
      >
        Limpiar
      </button>
    </form>

    <ng-container *ngIf="mails">
      <div class="uk-overflow-auto">
        <h3>Favoritos</h3>
        <table
          class="uk-table uk-table-hover uk-table-striped uk-table-middle uk-text-center uk-table-divider"
        >
          <thead>
            <tr>
              <th class="uk-text-center">Favorito</th>
              <th class="uk-text-center">Asunto</th>
              <th class="uk-text-center">Destinatario</th>
              <th class="uk-text-center">Descripción</th>
              <th class="uk-text-center">Eliminar mensaje</th>
              <th class="uk-text-center">Eliminar masivo</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let mail of mailsCopy | filterFavorites: true; index as i"
            >
              <td>
                <input
                  class="uk-checkbox"
                  type="checkbox"
                  value="{{ mail.favorite }}"
                  [checked]="mail.favorite"
                  (click)="doFavorite(mail)"
                />
              </td>
              <td>{{ mail.subject }}</td>
              <td class="">{{ mail.receiver }}</td>
              <td class="">{{ mail.description }}</td>
              <td>
                <button
                  class="uk-button uk-button-primary uk-margin-right"
                  (click)="doDelete(mail)"
                >
                  Eliminar
                </button>
              </td>
              <td>
                <input
                  class="uk-checkbox"
                  type="checkbox"
                  (change)="acumMails(mail)"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
    <ng-container *ngIf="mails">
      <div class="uk-overflow-auto">
        <table
          class="uk-table uk-table-hover uk-margin-top uk-table-striped uk-text-center uk-table-middle uk-table-divider"
        >
          <thead>
            <tr>
              <th class="uk-text-center">Favorito</th>
              <th class="uk-text-center">Asunto</th>
              <th class="uk-text-center">Destinatario</th>
              <th class="uk-text-center">Descripción</th>
              <th class="uk-text-center">Eliminar mensaje</th>
              <th class="uk-text-center">Eliminar masivo</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let mail of mailsCopy | filterFavorites: false;
                index as i
              "
            >
              <td>
                <input
                  class="uk-checkbox"
                  type="checkbox"
                  value="{{ mail.favorite }}"
                  (click)="doFavorite(mail)"
                />
              </td>
              <td>{{ mail.subject }}</td>
              <td class="">{{ mail.receiver }}</td>
              <td class="">{{ mail.description }}</td>
              <td>
                <button
                  class="uk-button uk-button-primary uk-margin-right"
                  (click)="doDelete(mail)"
                >
                  Eliminar
                </button>
              </td>
              <td>
                <input
                  class="uk-checkbox"
                  type="checkbox"
                  (change)="acumMails(mail, $event)"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

    <ng-container *ngIf="mails">
      <button
        class="uk-button uk-button-primary uk-margin uk-align-right"
        (click)="doDeleteMasive()"
      >
        Eliminar masivo
      </button>
    </ng-container>
    <ng-container *ngIf="msgGetMails">
      <div class="uk-text-danger uk-margin-top">
        Error al obtener los mensajes.
      </div>
    </ng-container>
    <ng-container *ngIf="msgFavoriteMails">
      <div class="uk-text-danger uk-margin-top">
        Error al marcar como favorito mensajes.
      </div>
    </ng-container>
    <ng-container *ngIf="msgDeleteMails">
      <div class="uk-text-danger uk-margin-top">
        Error al eliminar los mensajes.
      </div>
    </ng-container>
  </div>
</section>
