<section class="register uk-margin-top">
  <div class="cont-form">
    <h1>Registro al sistema</h1>
    <div class="cont-form-data">
      <app-user-form
        [form]="registerForm"
        [route]="routeRegister"
        [textbtn]="textbtn"
        (send)="onSubmit()"
      ></app-user-form>
      <ng-container *ngIf="msgRegister">
        <div class="uk-text-danger uk-margin-top">
          Error al intentar registrar el usuario.
        </div>
      </ng-container>
    </div>
  </div>
</section>
