<section class="sent uk-margin-top">
  <div class="cont-form uk-container">
    <h1>Eliminados</h1>
    <div class="uk-overflow-auto">
      <table
        class="uk-table uk-table-hover uk-table-striped uk-table-middle uk-table-divider"
      >
        <thead>
          <tr>
            <th>Favorito</th>
            <th>Asunto</th>
            <th>Destinatario</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mail of mails; index as i">
            <td>
              <input
                class="uk-checkbox"
                type="checkbox"
                value="{{ mail.favorite }}"
                readonly
              />
            </td>
            <td>{{ mail.subject }}</td>
            <td class="">{{ mail.receiver }}</td>
            <td class="">{{ mail.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
